
<h3>Employee List</h3>
<ag-grid-angular
    class="empGrid ag-theme-quartz"
    style="height: 500px;"
    [rowData]="userService.empList"
   [columnDefs]="empListColDefs"
   [defaultColDef]="defaultColdefs"
   > 
 </ag-grid-angular>


 <div class="modal fade" id="editEmpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="formAddUser">
              <form #empDetail="ngForm" (ngSubmit)="onUpdateEmpClick(empDetail)">
                  <div class="form-group">
                    <label for="userId">UserId</label>
                    <input type="number" ngModel [(ngModel)]="userService.empToUpdate.userId" class="form-control" id="userId" name="userId"  placeholder="Enter Id">
                  </div>
                  <div class="form-group">
                      <label for="fullName">Full Name</label>
                      <input type="text" ngModel [(ngModel)]="userService.empToUpdate.fullName" class="form-control" id="fullName" name="fullName"  placeholder="Enter Full Name">
                  </div>
                  <div class="form-group">
                      <label for="userName">User Name</label>
                      <input type="text" ngModel [(ngModel)]="userService.empToUpdate.userName" class="form-control" id="userName" name="userName"  placeholder="Enter Full Name">
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" ngModel [(ngModel)]="userService.empToUpdate.password" class="form-control" id="password" name="password" placeholder="Enter Password">
                  </div>
                  <div class="form-group">
                      <label for="role">Role</label>
                      <input type="text" ngModel [(ngModel)]="userService.empToUpdate.role" id="role" class="form-control" name="role" placeholder="Enter role">
                  </div>
                  
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary">Update</button>
                      <button type="reset" class="btn btn-success">Clear</button>
                  </div>
                  
                </form>
          </div>
      </div>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModalClick()">Close</button>
      </div>
    </div>
  </div>
</div>


